* {
  border: black solid 2px;
  font-family: sans-serif, arial;

}

body {


}



.container {
display: grid;
grid-template-columns: repeat(9, 1fr);
grid-template-rows: auto;
grid-template-areas:
/*"header header header header header header header header header"*/

". . main main main main main . ."
". . . quote quote quote . . ."
". intro intro intro intro intro intro intro ."
"lifts lifts lifts lifts lifts lifts lifts lifts lifts"
". . . closing closing closing . . ."
". . footer footer footer footer footer . .";
}

/* Header */
header {
position: sticky;
top:0;
box-sizing: border-box;
width: 100%;
display: grid;
grid-template-columns: 2fr 6fr 1fr;
background-image:url(http://www.powerlifting-ipf.com/fileadmin/_processed_/csm_rz_head_start_2_c625724c07.jpg);
background-position: 0px -450px;
}

header .logo {
text-align: center;
}

header nav ul{
  float: right;
}

header nav li{
display: inline;
text-align: right;
padding: 10px;
}

/* Main Content */

.main {
grid-area: main;
text-align: center;
}

h1 {
  text-align: center;
}

.quote {
grid-area: quote;
}

#intro {
  grid-area: intro;


}

#lifts {
grid-area: lifts;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
text-align: justify;
}

#lifts h3 {
  text-align: center;
}

#more-info {
grid-area: closing;
text-align: justify;
}

#about-me {
grid-area: footer;
text-align: center;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

h4 {
  text-align: right;
}
