* {
  /*border: black solid 2px;*/
  font-family: 'Lato', sans-serif, helvetica;
  margin: 0;
  padding: 0;

}

body {
background-image:url(https://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg);
}



.container {
display: grid;
grid-template-columns: repeat(9, 1fr);
grid-template-rows: minmax (50px, auto);
grid-row-gap: 50px;

grid-template-areas:
/*"header header header header header header header header header"*/

". . main main main main main . ."
". . . quote quote quote . . ."
". intro intro intro intro intro intro intro ."
"lifts lifts lifts lifts lifts lifts lifts lifts lifts"
". . closing closing closing closing closing . ."
". . footer footer footer footer footer . .";
}

/* Header */
header {
position: sticky;
top:0;
box-sizing: border-box;
width: 100%;
display: grid;
grid-template-columns: 2fr 6fr 1fr;
background-image:url(http://www.powerlifting-ipf.com/fileadmin/_processed_/csm_rz_head_start_2_c625724c07.jpg);
background-position: 0px -450px;
color: white;
border-bottom: 3px solid gray;
}

header .logo {
text-align: center;
}

header nav ul{
  float: right;
}

header nav li{
display: inline;
text-align: right;
padding: 10px;
}

header a {
  color: white;
  box-shadow: 3px 3px 5px black;
}

/* Main Content */

.main {
  margin-top: 50px;
grid-area: main;
text-align: center;
}

h1 {
  text-align: center;
}

.quote {
grid-area: quote;
}

#intro {
  grid-area: intro;


}

#lifts {
grid-area: lifts;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 10px;
text-align: justify;
}

#lifts h3 {
  text-align: center;
}

#more-info {
grid-area: closing;
text-align: justify;
justify-self: center;
}

/* Footer */
#about-me {
grid-area: footer;
text-align: center;
}

/* Misc styling elements */
img {
  display: block;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

h4 {
  text-align: right;
}

a {
  text-decoration: none;
}
